body {
  background: lightblue;
  text-align: center;
}

table {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 3em;
}

td {
  font-size: 2em;
  width: 5%;
}

input {
  width: 15%;
  text-align: center;
}

.visited {
  opacity: 0.3;
  font-style: italic;
}

button {
}
